include ../like-button/like-button.pug

//-
  options.class - дополнительный класс; 
  options.comments - массив объектов со свойствами:
    photo:'' - аватарка комментирующего;
    name:'' - имя комментирующего;
    time:'' - время написания комментария;
    like:{val:'', checked:'checked'} - кол-во и активность лайка;
    text:'' - текст комментария

mixin comment(options={})
  .comment(class=options.class)
    each item in options.comments
      img.comment__photo(src=item.photo)
      .comment__header
        p.comment__name=item.name
        p=item.time
      .comment__body
        .comment__like
          +like-button(item.like)
        p.comment__text=item.text
