include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../button/button.pug
include ../layout/layout.pug
include ../text-field/text-field.pug
include ../radio/radio.pug
include ../toggle/toggle.pug

mixin card-search()
  .card
    +layout({row_gap:'20'})
      h1='Найдём номера под ваши пожелания'
      +date-dropdown({first_name:'прибытие', second_name:'выезд'})
      +layout({row_gap:'30'})
        +dropdown({name:'гости', button: true, about: 'guests', items: ['Взрослые', 'Дети', 'Младенцы'],  defaultcounts: []})
        +button({type:'button', text:'подобрать номер'})

mixin card-registration()
  .card
    +layout({row_gap:'30'})
      +layout({row_gap:'20'})
        h1='Регистрация аккаунта'
        +layout({row_gap:'10'})
          +text-field({type: 'text', placeholder: 'Имя'})
          +text-field({type: 'text', placeholder: 'Фамилия'})
          +radio({texts: ['Мужчина', 'Женщина']})
        +text-field({type:'text',name:'дата рождения',class: 'birthday',placeholder: 'ДД.ММ.ГГГГ'})
        +layout({row_gap:'10'})
          +text-field({type:'email',name:'данные для входа в сервис',placeholder: 'Email'})
          +text-field({type:'password',placeholder: 'Пароль'})
          +toggle({text: 'Получать спецпредложения'})
        +button({type:'button', text:'перейти к оплате'})
      .card__line
        p='Уже есть аккаунт на Toxin'
        .card__button
          +button({text: 'войти'})

mixin card-room-details()
  .card
    +layout({row_gap:'30'})
      +layout({row_gap:'20'})
        .card__text-line.card__text-line_type_main
          .card__text-line
            h2.card__text-room-number='№ '
            h1='888'
            h3.card__text-room-type=' люкс'
          .card__text-line
            p.card__text-room-price.card__text-room-price_bold='9 990₽'
            p.card__text-room-price.card__text-room-price_small=' в сутки'
        +date-dropdown({first_name:'прибытие', second_name:'выезд'})
        +dropdown({name:'гости', button: true, about: 'guests', items: ['Взрослые', 'Дети', 'Младенцы'],  defaultcounts: ['3']})
        +layout({row_gap:'10'})
          .card__text-line.card__text-line_type_main.card__text-line_type_list
            p='9 990₽ х 4 суток'
            p='39 960₽'
          .card__text-line.card__text-line_type_main.card__text-line_type_list
            .card__text-line.card__text-line_type_list
              p.card__inf='Сбор за услуги: скидка 2 179₽'
              .card__inf-marker
                p.card__inf-marker-text='i'
                svg.card__inf-marker-circle(width='20' height='20' viewBox='0 0 20 20' fill='none')
                  circle(cx='10' cy='10' r='9.5' stroke='#1F2041' stroke-opacity='0.25')
            p='0₽'
          .card__text-line.card__text-line_type_main.card__text-line_type_list
            .card__text-line.card__text-line_type_list
              p.card__inf='Сбор за дополнительные услуги'
              .card__inf-marker
                p.card__inf-marker-text='i'
                svg.card__inf-marker-circle(width='20' height='20' viewBox='0 0 20 20' fill='none')
                  circle(cx='10' cy='10' r='9.5' stroke='#1F2041' stroke-opacity='0.25')
            p='300₽'
      +layout({row_gap:'20'})
        .card__text-line.card__text-line_type_main
          h2='Итого'
          .card__datted
          h2.card__text-finally-price='38 081₽'
        +button({type:'button', text:'забронировать'})

mixin card-enter()
  .card
    +layout({row_gap:'30'})
      +layout({row_gap:'20'})
        h1='Войти'
        +layout({row_gap:'10'})
          +text-field({type:'email',placeholder: 'Email'})
          +text-field({type:'password',placeholder: 'Пароль'})
        +button({type:'button', text:'войти'})
      .card__line
        p='Нет аккаунта на Toxin?'
        .card__button
          +button({text: 'создать'})
