include ../button/button.pug
include ../logo/logo.pug

mixin header(options={})
  if options.type == 'not-entered'
    header.header
      +logo({type:'color', class:'header__logo'})
      nav.header__nav
        each val in ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения']
         if val == 'Услуги' || val == 'Соглашения'
           p= val
                span.material-icons expand_more
         else
           p= val
      .header__button-container_type_uncolor
        +button({text:'Войти', class:'header__uncolor-button'})
      .header__button-container_type_color
        +button({type: 'color', text:'ЗАРЕГИСТРИРОВАТЬСЯ', class:'header__color-button'})
  if options.type == 'entered'
    header.header
      +logo({type:'color', class:'header__logo'})
      .header__entered
        nav.header__nav
          each val in ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения']
           if val == 'Услуги' || val == 'Соглашения'
             p= val
                  span.material-icons expand_more
           else
             p= val
        .header__rectangle
        span.header__username=options.username
