include ../button/button.pug

mixin header(options={})
  if options.type == 'not-entered'
    .header
      +logo('color')
      .header__right-block
        nav.header__nav
          each val in ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения']
           if val == 'Услуги' || val == 'Соглашения'
             p= val
                  span.material-icons expand_more
           else
             p= val
        +button({text:'Войти', class:'header__uncolor-button'})
        +button({type: 'color', text:'ЗАРЕГИСТРИРОВАТЬСЯ', class:'header__color-button'})
  if options.type == 'entered'
    .header
      +logo('color')
      .header__right-block
        nav.header__nav
          each val in ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения']
           if val == 'Услуги' || val == 'Соглашения'
             p= val
                  span.material-icons expand_more
           else
             p= val
        .header__rectangle
        span.header__username=options.username
