//-
  options.expandable - если true, то список выпадающий (bool);
  options.name - заголовок списка;
  options.texts - массив объектов с названиями пунктов, информацией об их положении 'вкл'/'выкл' и
                  наличии уточняющих комментариев, например,
                  {text: 'Питомцы', checked: true/false, rich:'Возможно проживание с питомцами'};

mixin checkbox(options={})
  .checkbox
    if options.expandable
      .checkbox__select(data-name=options.name)
        each item in options.texts
          label.checkbox__label
            input(type='checkbox' class='checkbox__input' checked=item.checked)
            span.checkbox__box
              span.checkbox__check
            .checkbox__text=item.text
    else
      h3.checkbox__name=options.name
      each item in options.texts
        label.checkbox__label
          input(type='checkbox' class='checkbox__input' checked=item.checked)
          span.checkbox__box
            span.checkbox__check
          if item.rich
            .checkbox__text.checkbox__text_rich=item.text
            p.checkbox__rich=item.rich
          else
            .checkbox__text=item.text
