mixin checkbox(options={})
  .checkbox
    if options.list
      .checkbox__select(data-name=options.name)
        each item in options.texts
          label.checkbox__label
            input(type='checkbox' class='checkbox__input' checked=item.checked)
            span.checkbox__box
              span.checkbox__check
            .checkbox__text=item.text
    else
      h3.checkbox__name=options.name
      each item in options.texts
        label.checkbox__label
          input(type='checkbox' class='checkbox__input' checked=item.checked)
          span.checkbox__box
            span.checkbox__check
          .checkbox__text=item.text
