mixin text-field(options = {})
  div.text-field__wrapper
    div.text-field__name
      +text('H3-bold', options.name)
      +text('H3-normal', options.state, 'text-field__name_state')
    input(type=options.type
          id=options.id
          placeholder=options.placeholder
          value=options.content
          class='text-field text-types_type_Body'
          )
