//-
  options.button - наличие кнопки
  options.name - название поля
  options.state - состояние поля (для ui kit)
  options.type - тип поля
  options.id - идентификатор поля
  options.placeholder - подсказка для заполнения поля
  options.content - содержимое поля
  options.class - дополнительные классы (birthday для поля с маской дня рождения)

mixin text-field(options = {})
  if options.button
    .text-field_with-button
      .text-field__name
        h3=options.name
        h3.text-field__state=options.state
      .text-field__wrapper
        input(type=options.type
              id=options.id
              placeholder=options.placeholder
              value=options.content
              class='text-field__field_with-button'+' '+options.class
              )
        input(type='submit'
              value='arrow_forward'
              class='material-icons text-field__button'
              )
  else
    .text-field
      .text-field__name
        h3=options.name
        h3.text-field__state=options.state
      input(type=options.type
            id=options.id
            placeholder=options.placeholder
            value=options.content
            class='text-field__field'+' '+options.class
            )
