mixin text-field(options = {})
  .text-field
    .text-field__name
      h3=options.name
      h3.text-field__state=options.state
    if options.button
      .text-field__wrapper
        input(type=options.type
              id=options.id
              placeholder=options.placeholder
              value=options.content
              class='text-field__field_with-button'+' '+options.class
              )
        input(type='submit'
              value='arrow_forward'
              class='material-icons text-field__button'
              )
    else
      input(type=options.type
            id=options.id
            placeholder=options.placeholder
            value=options.content
            class='text-field__field'+' '+options.class
            )
